#notes-button {
    position: fixed; /* Absolute positioning */
    top: 5px;             /* Position at the top */
    left: 50%;          /* Start positioning from the middle */
    transform: translateX(-50%); /* Shift back by half its width to center */
    
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #3498db;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    line-height: 50px;

    z-index: 9999;      /* High z-index to ensure it's above other layers */

    transition: background-color 0.3s ease;
}

#notes-button:hover {
    background-color: #2980b9;
}

#popupNotes{
    z-index: 9052;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 100%;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid lightgray;
    background-color: var(--bg-body);
    color: var(--body-text);
    overflow-y: auto;

  }

  .note-title {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
}

.textfields {
    display: flex;
    margin-bottom: 5px;
}

.textfield {
    flex: 1;
    border: 1px solid #ccc;
    padding: 5px;
    margin-right: 10px;
}

.tab-button {
    padding: 5px 5px;
    cursor: pointer;
    background-color: lightgray;
    border: none;
    margin-right: 5px;
    outline: none;
    margin-bottom: 5px;
}

.tab-button.active {
    background-color: gray;
    /* color: white; */
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.tab-button[contenteditable="true"] {
    background-color: #eee;
    border: 1px solid #ccc;
    /* padding: 9px 19px;  // Adjusted padding to account for the 1px border */
    padding-right: 2px;
    
}

.delete-tab {
    display: none;
    margin-left: 40px;
    margin-right: 5px;
    cursor: pointer;
    padding: 0;
    text-align: right;
    font-weight: bold;
    font-size: 35px;
}